// roomType
// 左側房型照片與背景輪播
.roomType {
    display: flex;
}

.carousel-sr {
    width: 40%;
    position: fixed;
}

.carousel-sr-photoSet {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.carousel-group {
    position: absolute;
    z-index: 3;
    padding: 20% 20%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));

    .group-goBack {
        display: flex;
        gap: 0.5rem;

        img {
            color: $colors-secondary;
        }

        a {
            font-size: $font-size-sm;
            text-decoration: none;
            color: $colors-secondary;
        }

        &:hover {
            a {
                color: $colors-primary;
            }
        }
    }
}

.group-content {
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .group-txt {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }

    .group-priceOneNight {
        color: $colors-primary;
        font-size: $h2-font-size;
        font-family: $font-family-num;

        span {
            font-size: $h5-font-size;
        }
    }

    .group-btn {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 50px;
        background: $colors-primary;
        color: #fff;
        border: none;
        font-size: $h5-font-size;
        font-family: $font-family-eng;

        &:hover {
            background: $colors-secondary;
        }
    }
}

.carousel-indicators {
    .btnRoom {
        background-color: $colors-secondary;
        border: 1px solid $colors-secondary;
    }
}

.carousel-position {
    position: static;
}

// 右側房型內容資訊
.roomType-reservation {
    width: 60%;
    padding: 5% 5% 8% 3%;
    position: sticky;
    left: 40%;

    & > .roomType-text,
    & > .roomType-offers,
    & > .queryDate {
        font-size: $font-size-sm;
    }
}

.roomType-text {
    width: 100%;
    color: $colors-primary;

    .roomType-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
        gap: 1%;

        @include lpc {
            flex-direction: column;
            align-items: flex-start;
        }

        h2 {
            font-size: $h1-font-size;
            font-family: $font-family-eng;

            @include lpc {
                font-size: $h2-font-size;
                margin-bottom: 16px;
            }
        }

        span {
            line-height: 1.8;
        }
    }

    .roomType-time {
        line-height: 1.5;
        margin-bottom: 36px;
    }

    .roomType-things {
        line-height: 1.5;
        margin-bottom: 48px;
    }
}

.roomType-offers {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    text-align: center;
    margin-bottom: 32px;

    .offers-things {
        position: relative;

        .things-icon {
            width: 40px;
            height: 40px;
        }

        .things-whether {
            position: absolute;
            top: 0;
            right: -20px;
        }

        .things-txt {
            display: flex;
            justify-content: center;
            white-space: nowrap;
            margin-top: 8px;
        }
    }

    .opacity {
        opacity: 0.2;
    }
}

.queryDate-title {
    font-size: $font-size-sm;
    color: $colors-primary;
    margin-bottom: 16px;
}

.datepicker {
    width: 560px;
    height: 288px;
    border: 1px solid $colors-primary;
}

.queryDateInput {
    display: none;
}

.queryDate-content {
    margin-bottom: 250px;
}

.datepicker {
    box-shadow: none;
}

.datepicker__month-day--disabled::after {
    color: #f6ad49;
}
